/* Login Loadingscreen */


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}


.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    animation: backgroundTransition 2s ease forwards;
}

@keyframes backgroundTransition {
    0% {
        background-color: rgba(255, 255, 255, 1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.loader-image {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoTransition 2s ease forwards;
}


@keyframes logoTransition {
    0% {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334px;
        transform: translate(-50%, -50%);
    }

    100% {
        top: 24px;
        left: 88px;
        width: 100px;
        height: 122px;
        transform: none;
    }
}

#loader.start-animation #loader-image-white {
    animation: fadeOutWhite 1s ease forwards;
}

@keyframes fadeOutWhite {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loader.start-animation #loader-image-black {
    animation: fadeInBlack 1s ease forwards;
    display: none;
}

@keyframes fadeInBlack {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.h-signup {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 20px;
    margin-top: 16px;
}

.conta-input{
    width: 100%;
    padding: 16px;
}
/* .sign-input{
  width: 100%;
  padding: 8px;
} */

.sign-input {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc; /* لو بدك يبين البوردر */
  border-radius: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.sign-input input {
  flex: 1; /* يخلي الانبوت يتمدد ياخد كل المساحة */
  border: none; /* يشيل البوردر الداخلي */
  outline: none;
  padding: 10px;
  font-size: 16px;
}

.sign-input img {
  width: 20px;
  height: 20px;
  margin-left: 10px; /* مسافة صغيرة بين الانبوت والصورة */
}
